body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4d79ff;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: white;
    margin-right: 20px;
}

nav {
    display: flex;
    gap: 20px;
}

    nav a {
        color: white;
        text-decoration: none;
    }

main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .product img {
        max-width: 100px;
        height: auto;
    }



.favorite-product {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorite-product img {
    max-width: 100px;
    height: auto;
}